body{
  background-color: rgb(123, 176, 247);
}

.heading{
  padding-bottom: 0%;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
}

#content > div {
  flex: 1 1 0;
  min-width: 30px;
}

#content > div > h2 {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  #content > div {
    flex: 1;
  }
}

@media (max-width: 767px) {
  #content {
    display: block;
  }

  #content > div {
    margin-bottom: 16px;
  }
}
